<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat YIBS</title>
    <!--====================== ICON ======================-->
    <link rel="icon" href="image/icon.png">
    <!--================== GOOGLE FONTS ==================-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&amp;family=Merriweather:wght@300&amp;display=swap" rel="stylesheet">
    <!--==================== UNICONS ====================-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
    <!--==================== CSS ========================-->
    <link rel="stylesheet" href="css/style.css">
    <!--==================== FONTAWESOME ================-->
    <script src="js/all.min.js" ></script>
    <!-- <script src="https://kit.fontawesome.com/80c8ba4521.js" crossorigin="anonymous"></script> #online fontawesom# -->
    <!--=================== SOCKET.IO ===================-->
    <script src="js/socket.io.min.js"></script>
</head>

<body>