<%- include("partials/header") %>


<div class="welcome">
    <div class="animations">
        <div class="animation anim-on anim-off-0">
            <p>Welcome dear <span>User</span> you're almost there.<br></p>
            <p>Just left for you to set your profile picture to start chatting.😉</p>
        </div>
        <div class="animation anim-off anim-off-1">
            <div class="my-img-container">
                <input type="file" accept="image/*"  value="select" id="my-img" onchange="uploadAvatar(event)" hidden/>
                <img class="my-img" src="image/user1.png" alt="">
                <div class="camera">
                    <i class="fa-solid fa-camera" id="camera"></i>
                </div>
            </div>
        </div>
        <div class="animation anim-off anim-off-2">
            Enjoy our app. 😊
        </div>
        
    </div>
    <div class="welcome-btns">
        <button class="next">
            Next 
            <i class="uil uil-arrow-right"></i>
        </button>
    </div>
</div>
<div class="crop-container">
    <div class="crop">
        <div class="workspace">
            <img src="" alt="">
        </div>
        <div class="buttons">
            <button class="cancle">
                Cancle
            </button>
            <button class="save">
                Save
            </button>
        </div>

    </div>
</div>


<script type="">
    const id = '<%- id %>';
    const socket = io("/");
    let k = 0, ready=false, image;
    console.log(id);

    document.querySelector(".camera").addEventListener("click",()=>{
        document.querySelector("#my-img").click();
    });

    
    
    function uploadAvatar(event){

        // document.querySelector(".crop-container").style.visibility="visible";
        // document.querySelector(".crop-container").style.opacity=1;
        
        const avatar = event.target.files[0];
        
        document.querySelector('.workspace').innerHTML = `<img src="" alt="">`;
    

        console.log("image selected");
        if(avatar){
            const ext = avatar.name.split(".")[avatar.name.split(".").length-1]

            const type = avatar.type.split("/")[0];

            if(avatar.size<(1024*1024)*5){
                console.log("$");

        
                image = URL.createObjectURL(avatar);

                const workspace = document.querySelector(".workspace");
                const image_workspace = document.querySelector(".workspace img")
                const save = document.querySelector(".crop-container .save");
                const cancle = document.querySelector(".crop-container .cancle");


                image_workspace.src = image;

                console.log(image_workspace,image);



                const options = {
                    dragMode: 'move',
                    preview: '.img-preview',
                    viewMode: 2,
                    modal: false,
                    background: false,
                    ready: function(){
                        cropper.setAspectRatio(1)

                        save.onclick = () => {
                            cropper.getCroppedCanvas().toBlob((blob) => {
                                const imgURL = window.URL.createObjectURL(blob)
                                
                                document.querySelector(".crop-container").style.visibility="hidden";
                                document.querySelector(".crop-container").style.opacity=0;
                                
                                const reader = new FileReader([blob], avatar.name, { type: avatar.type });


                                reader.readAsArrayBuffer(avatar);

                                

                                let path="";
                                if(type=="image"){
                                    path = `./uploads/avatar/${id}.${ext}`
                                    reader.onload = () => {
                                        next.innerHTML = "Next <i class='uil uil-arrow-right'></i>";

                                        // send the file data to the server
                                        socket.emit("change-avatar", { path: path, data: reader.result ,id: id});

                                        document.querySelector(".my-img").src = imgURL;

                                    };
                                }else{
                                    alert("Select only an image");
                                }
                            })
                        }

                        cancle.onclick = ()=>{
                            document.querySelector(".crop-container").style.visibility="hidden";
                            document.querySelector(".crop-container").style.opacity=0;
                        }
                
                    }
                }

                const cropper = new Cropper(image_workspace, options)

                console.log("ready",cropper);

                document.querySelector(".crop-container").style.visibility="visible";
                document.querySelector(".crop-container").style.opacity=1;



                //upload the avatar to server
                

            }else{
                alert("Your profile picture should be less than 5MB")
            }
        }
    }

    socket.on('avatar-success', ({ message})=>{
        console.log(message);

        //display profile
        // document.querySelector(".my-img").src = image;
        // if(!ready){
        //     next.innerHTML = "Next <i class='uil uil-arrow-right'></i>";
        // }else{
        //     alert("Profile picture uploaded sucessfully");
        // }

    });



    const next = document.querySelector(".next");
    const skip = document.querySelector(".skip");

    next.addEventListener("click",async ()=>{
        const remove = document.querySelector(".anim-off-"+k);
        const add = document.querySelector(".anim-off-"+(k+1));
        
        if(add){
            remove.classList.remove("anim-on");
            remove.classList.add("anim-off");

            add.classList.remove("anim-off");
            add.classList.add("anim-on");

            k++;

            next.innerHTML = "Skip <i class='uil uil-arrow-right'></i>";
        }

        if(k>1){
            ready=true;
            // next.innerHTML = "Start chatting <i class='uil uil-arrow-right'></i>";
            next.outerHTML = `<a href='/chat'><button class="next">
                Start chatting 
                <i class="uil uil-arrow-right"></i>
            </button><i class='uil uil-arrow-right'></i></a>`
        }
        

        
    });
</script>


<%- include("partials/footer") %>